
.DS_Store

Misc/AD633JNZ/AD633JNZ.kicad_sym

Misc/AD633JNZ/AD633JNZ.step

Misc/AD633JNZ/DIP254P762X533-8.kicad_mod

Misc/AD633JNZ/how-to-import.htm

Misc/AD712JNZ/AD712JNZ.kicad_sym

Misc/AD712JNZ/AD712JNZ.step

Misc/AD712JNZ/DIP254P762X533-8.kicad_mod

Misc/AD712JNZ/how-to-import.htm

Misc/Mackey_Glass_Circuit_JFET.kicad_sch

Misc/MGUnwrapped.cir

Misc/Wrapper.cir

Output/output_node.txt

Output/output.txt

Output/outputData.txt

Output/outputData21.txt

Output/outputData30960.txt

Output/outputData41.txt

Output/outputData6.txt

Output/outputData7.txt

Output/outputData76.txt

Output/outputData77.txt

Output/outputData81.txt

Output/outputData85.txt

Output/outputData92.txt

Output/outputData95.txt

Output/outputfile.txt

Output/voltage.txt

Output/voltages.txt

Subcircuits/temp/PabloNL30960.cir

Subcircuits/temp/PabloNL5977.cir

Output/
