* Example of setting single component: R1 set 1000
* Example of ranging parameter: R1 start 500 stop 2000 step 500
* Example of transient simulation command: sim tran 5u 3.01s
* Example of DC sweep command: sim dc VIn 0 10 1m
* Example of setting which node voltage data to output: measure Node1 Node2 Node3
* Example of PWL Input: Vin FILE:Path/To/File

* sim tran 5u 0.01s
sim dc VIn 0 10 1m
*RINTAF2 start 3000 stop 12000 step 3000
*RIAF2 start 3000 stop 12000 step 3000
*a start 0.2 stop 0.8 step 0.2
*b start 0.2 stop 0.4 step 0.2 
d start 0.9 stop 1.7 step 0.2
* mix start 0.1 stop 0.6 step 0.1
measure NLOut
* VInput FILE=/Users/paulpickering/Library/CloudStorage/OneDrive-Personal/Uni/Placement/Mackey-Glass-Circuit/Simulations/NGSpice/MGNGSpice/Memory Capacity/SpiceInput.txt
